API_URL=https://api.resourcewatch.org

REACT_APP_MAPBOX_API_TOKEN=


BASEMAP_TILE_URL=https://api.tiles.mapbox.com/v4/wri.c974eefc/{z}/{x}/{y}.png?access_token=${REACT_APP_MAPBOX_API_TOKEN}

BASEMAP_LABEL_URL=https://api.mapbox.com/styles/v1/resourcewatch/cjzmon5ds0zt11cqh5c8vj01y/tiles/256/{z}/{x}/{y}?access_token=${REACT_APP_MAPBOX_API_TOKEN}

# API Key for Google's places library
# Must be restricted by HTTP referrer + API in Google Cloud Console
GOOGLE_PLACES_API_KEY=your-google-places-api-key-here

GOOGLE_ANALYTICS=UA-XXXXXXXX-X